<h1>Burgers, burgers, burgers!</h1>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    <li>
        <p>
            {{this.id}}. {{this.burger_name}}

            <button data-burgerid="{{this.id}}" class="eat">Bon Appetit!</button>
        </p>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>
        <p>{{this.id}}. {{this.burger_name}}</p>
    </li>
    {{/if}}
    {{/each}}
</ul>

<h2>Place your order:</h2>
<form id="neworder" class="button-size">
  <textarea type="text" name="burger"></textarea>
  <button type="submit">Complete order!</button>
</form>

<script>
//Create a new burger
$('#neworder').on('submit', (event) => {
    event.preventDefault();
    let newBurger = {
        burger_name: $('#neworder [name=burger]').val().trim()
    };

    $.ajax('/api/burgers', {
        type: 'POST',
        data: newBurger
    })
    .then(() => {
        console.log('New burger ordered!');
        location.reload();
    })
    .catch((err) => {
        console.log(err);
    });
});

//Change 'eaten' status
$('.eat').on('click', (event) => {
    let id = event.currentTarget.getAttribute('data-burgerid');
    let eatenStat = {
        devoured: true
    };

    $.ajax(`/api/burgers/${id}`, {
        type: 'PUT',
        data: eatenStat
    })
    .then(() => {
        console.log('Changed burger status to devoured');
        location.reload();
    })
    .catch((err) => {
        console.log(err);
    });
});
</script>