<h1>Ahoy! Welcome to the Krusty Krab!</h1>

<img id="bg" src="/assets/img/krusty_krab.png" alt="Krusty Krab">

<section class="container order">
    <h2>Mr. Squidward will take your order here:</h2>
    <form id="neworder" class="button-size">
    <textarea type="text" name="burger"></textarea>
    <button type="submit">Complete order!</button>
    </form>
</section>

<section class=" container waiting">
    <h3>Waiting orders</h3>
    <ul>
        {{#each burgers}}
        {{#unless devoured}}
        <li>
            <p>
                {{this.id}}. {{this.burger_name}}

                <button data-burgerid="{{this.id}}" class="eat">Bon Appetit!</button>
            </p>
        </li>
        {{/unless}}
        {{/each}}
    </ul>
</section>

<section class="container eaten">
    <h3>Eaten burgers</h3>
    <ul>
        {{#each burgers}}
        {{#if devoured}}
        <li>
            <p>{{this.id}}. {{this.burger_name}}</p>
        </li>
        {{/if}}
        {{/each}}
    </ul>
</section>




<script>
//Create a new burger
$('#neworder').on('submit', (event) => {
    event.preventDefault();
    let newBurger = {
        burger_name: $('#neworder [name=burger]').val().trim()
    };

    $.ajax('/api/burgers', {
        type: 'POST',
        data: newBurger
    })
    .then(() => {
        console.log('New burger ordered!');
        location.reload();
    })
    .catch((err) => {
        console.log(err);
    });
});

//Change 'eaten' status
$('.eat').on('click', (event) => {
    event.preventDefault();
    let id = event.currentTarget.getAttribute('data-burgerid');
    let eatenStat = {
        devoured: true
    };

    $.ajax(`/api/burgers/${id}`, {
        type: 'PUT',
        data: eatenStat
    })
    .then(() => {
        console.log('Changed burger status to devoured');
        location.reload();
    })
    .catch((err) => {
        console.log(err);
    });
});
</script>